// body,
// html {
//     min-height: 100vh;
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     display: flex;
//     flex-direction: column;
//     color: rgb(0, 0, 0);
//     background-color: rgb(8, 0, 44);
// }

// header {
//     color: white;
//     background-color: rgba(12, 0, 68, 0);
// }

// footer {
//     background-color: rgba(9, 0, 105, 0);
// }

// main {
//     background-color: rgb(29, 0, 44);
//     color: rgb(254, 255, 213);
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     flex: 1;
//     min-height: 100vh;
//     width: 100%;
//     border: white;

//     nav {
//         display: flex;
//         flex-flow: wrap;
//         align-items: center;
//         justify-content: space-around;
//         width: 40%;

//         #planetName {
//             width: 25vw;
//             height: 20px;
//         }

//         .planets {
//             background-color: rgb(255, 255, 255);
//             box-shadow: yellow 0 0 10px;
//             border-radius: 50%;
//             color: black;
//             height: 50px;
//             width: 50px;
//             outline: none;
//             border: none;
//         }


//     }


//     .planetBox {
//         // min-height: 70vh;
//         background-color: rgba(255, 255, 255, 0.404);
//         border: solid rgba(255, 255, 255, 0.281);
//         color: rgb(43, 0, 65);
//         display: none;
//         flex-direction: column;
//         align-items: center;
//         width: 70vw;    
//         min-height: 70vh;
//         flex-shrink: 1;

//         .planetHead {
//             text-align: center;
//         }

//         .info {
//             display: flex;
//             flex-flow: row-reverse wrap;
//             width: 70vw;
//             min-height: 50vh;
//             align-items: center;
//             justify-content: space-around;
//             border: solid white;

//             #facts {
//                 width: 30vw;
//                 height: 50vh;
//                 font-size: larger;
//                 border: solid white;
//                 line-height: 30px;
//                 padding: 5px;
//                 flex-shrink: 0;
//             }

//             .numbers {
//                 width: 30vw;
//                 height: 50vh;
//                 font-size: larger;
//                 border: solid white;
//                 padding: 5px;
//                 flex-shrink: 0;
//             }

//         }
//     }

// }

// Variabler
$background-color: rgb(8, 0, 44);
$text-color: rgb(255, 255, 255);
$box-border-color: rgba(255, 255, 255, 0.281);
$nav-gap: 10px;
$min-box-width: 300px;

// Globala inställningar
body,
html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    color: $text-color;
}

// Header och Footer
header,
footer {
    flex-shrink: 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(9, 0, 105, 0.8);
}

// Main Content
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    padding: 20px;
    gap: $nav-gap;
    overflow: hidden;

    span {
        display: inline-block;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }


    .sun {
        height: 60px;
        width: 60px;
        background: yellow;
        box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 40px yellow, 0 0 60px yellow;
        
    }

    .planet {
        background: transparent;
        border: 4px solid rgba(255, 255, 255, 0.5);
        animation: animate 10s linear infinite;
        z-index: 9999;
        
    }

    @keyframes animate {
        0%{
            transform: translate(-50%,-50%) rotate(0);
        }

        100%{
            transform: translate(-50%,-50%) rotate(360deg);
        }
    }

    .planet1 {
        width: 110px;
        height: 110px;
    }

    .planet2 {
        width: 160px;
        height: 160px;
    }
    .planet3 {
        width: 220px;
        height: 220px;
    }
    .planet4 {
        width: 270px;
        height: 270px;
    }
    .planet5 {
        width: 340px;
        height: 340px;
    }
    .planet6 {
        width: 430px;
        height: 430px;
    }
    .planet7 {
        width: 500px;
        height: 500px;
    }
    .planet8 {
        width: 570px;
        height: 570px;
    }

    span::before, span::after{
        content: '';
        position: absolute;
        background: #fff;
        border-radius: 50%;
    }

    .planet1::before{
        width: 20px;
        height: 20px;
        bottom: 6px;
        left: 2px;
        background-image: linear-gradient(to right, gray, lightgray, gray);
    }

    .planet2::before{
        width: 25px;
        height: 25px;
        top: 10px;
        left: 10px;
        background-image: radial-gradient(rgb(255, 0, 0), rgb(255, 102, 0)) ;
    }

    .planet3::before{
        width: 30px;
        height: 30px;
        top: 100px;
        right: -15px;
        background-image: radial-gradient(green, blue );
    }

    .planet4::before{
        width: 30px;
        height: 30px;
        top: 22px;
        left: 210px;
        background: red;
    }

    .planet5::before{
        width: 40px;
        height: 40px;
        bottom: -18px;
        left: 170px;
        background: orange;
    }

    .planet6::before{
        width: 50px;
        height: 50px;
        top: 100px;
        left: -7px;
        background: orange
    }

    .planet6::after{
        width: 80px;
        height: 20px;
        top: 115px;
        left: -21px;
        background: orange;
    }

    .planet7::before{
        width: 37px;
        height: 37px;
        bottom: 80px;
        right: 30px;
        background: blue;
    }

    .planet8::before{
        width: 41px;
        height: 41px;
        top: 5px;
        right: 140px;
        background: magenta;
    }



    


        nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 90%;
            


            .planets {
                background-color: orange;
                color: rgb(0, 0, 0);
                height: 50px;
                outline: none;
                border: none;
                flex-shrink: 0;
                border: none;
                outline: none;
            }
        }

        .planetBox {
            display: none;
            flex-direction: column;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.404);
            width: 90%;
            margin: 20px auto;
            padding: 10px;
            border: 1px solid $box-border-color;
            color: rgb(43, 0, 65);
            border: white solid;

            .info {
                display: flex;

                flex-flow: column wrap-reverse;
                justify-content: space-between;
                gap: $nav-gap;
                width: 100%;
                border: white solid;

                .planetHead {
                    border: white solid;
                }

                #facts,
                .numbers {
                    flex: 1 1 $min-box-width;
                    min-height: 200px;
                    border: 1px solid white;
                    padding: 10px;
                    box-sizing: border-box;
                    border: white solid;
                }
            }
        }
    }

    // Media Queries
    @media (max-width: 768px) {
        main {
            

            .planetBox .info {
                flex-direction: column;
                align-items: stretch;

                #facts,
                .numbers {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 500px) {
        main {

            nav {
                flex-direction: column;
                align-items: center;

                .planets {
                    height: 40px;
                    width: 40px;
                }
            }

        
            .planetBox {
                width: 100%;
            }

            .info #facts,
            .info .numbers {
                font-size: smaller;
            }
        }
    }

    