// Variabler
$background-color: rgb(7, 0, 36);

// Globala inställningar
body,
html {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(7, 0, 36);
    color: white;
    z-index: -1;
    font-family: monospace;
    overflow-x: hidden;
}



main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 0px;
    overflow-x: hidden;
    width: 100vw;
    box-sizing: border-box;


    //Huvudrubrik
    #solSystemet {
        font-size: 72px;
        text-shadow: 0px 0px 3px black;
    }

    //Underrubrik
    #solaris {
        font-size: 56px;
        margin: 0;
        text-shadow: 0px 0px 3px black;
        color: rgb(255, 255, 70);
    }

    //Alla planeter som roterar runt solen
    span {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        overflow: visible;
        z-index: -1;
    }

    //solen
    .sun {
        height: 60px;
        width: 60px;
        background: yellow;
        box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 40px yellow, 0 0 60px yellow;
    }

    //Gemensam klass för alla planeter
    .planet {
        background: transparent;
        border: 3px solid rgba(255, 255, 255, 0.5);
        z-index: -1;
        border-radius: 50%;
    }

    //animationen som får planeterna att snurra
    @keyframes animate {
        0% {
            transform: translate(-50%, -50%) rotate(0);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    //Sätter storleken på "omloppsbanan" för varje planet, 1-8 samt hur lång tid det tar för animationen att utföras för respektive planet.
    .planet1 {
        width: 110px;
        height: 110px;
        animation: animate 8.8s linear infinite;
    }

    .planet2 {
        width: 160px;
        height: 160px;
        animation: animate 22.5s linear infinite;
    }

    .planet3 {
        width: 220px;
        height: 220px;
        animation: animate 36.5s linear infinite;
    }

    .planet4 {
        width: 270px;
        height: 270px;
        animation: animate 68.7s linear infinite;
    }

    .planet5 {
        width: 340px;
        height: 340px;
        animation: animate 100s linear infinite;
    }

    .planet6 {
        width: 430px;
        height: 430px;
        animation: animate 120s linear infinite;
    }

    .planet7 {
        width: 500px;
        height: 500px;
        animation: animate 150s linear infinite;
    }

    .planet8 {
        width: 570px;
        height: 570px;
        animation: animate 200s linear infinite;
    }

    //Alla element med "Before" och "After" får nedan styling
    span::before,
    span::after {
        content: '';
        position: absolute;
        border-radius: 50%;
    }

    //Sätter styling och position för varje planet
    .planet1::before {
        width: 20px;
        height: 20px;
        bottom: 6px;
        left: 2px;
        background-image: radial-gradient(lightgray, gray);
        box-shadow: inset 0px 0px 3px black;
    }

    .planet2::before {
        width: 25px;
        height: 25px;
        top: 10px;
        left: 10px;
        background-image: radial-gradient(rgb(255, 251, 0), rgb(255, 0, 0));
        box-shadow: inset 0px 0px 3px black;
    }

    .planet3::before {
        width: 30px;
        height: 30px;
        top: 100px;
        right: -15px;
        box-shadow: inset 0px 0px 3px black;
        background: radial-gradient(green, blue);
    }

    .planet4::before {
        width: 30px;
        height: 30px;
        top: 22px;
        left: 210px;
        background: radial-gradient(orangered, rgb(141, 141, 141));
        box-shadow: inset 0px 0px 3px black;
    }

    .planet5::before {
        width: 40px;
        height: 40px;
        bottom: -18px;
        left: 170px;
        background: linear-gradient(to bottom, beige, orange, beige, orange, beige);
        box-shadow: inset 0px 0px 3px black;
    }

    .planet6::before {
        width: 50px;
        height: 50px;
        top: 100px;
        left: -7px;
        background: linear-gradient(to bottom, orange, beige, orange, beige, orange, beige, orange, beige, orange, beige, orange, beige, );
        box-shadow: inset 0px 0px 3px black;
    }

    //För att få dit ringen runt Saturnus
    .planet6::after {
        width: 80px;
        height: 7px;
        top: 121px;
        left: -21px;
        background: linear-gradient(to bottom, orange, beige);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    }

    .planet7::before {
        width: 37px;
        height: 37px;
        bottom: 80px;
        right: 30px;
        background: radial-gradient(#afdbf5, #93cdf1, #62aee7, #4296dc, #2e84ce);
        box-shadow: inset 0px 0px 3px black;
    }

    .planet8::before {
        width: 41px;
        height: 41px;
        top: 5px;
        right: 140px;
        background: radial-gradient(#3f54ba, #3f54ba, #274687);
        box-shadow: inset 0px 0px 3px black;
    }


    //Sökruta och tillhörande knapp
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: rgb(0, 0, 0) 0 0 5px;
        border-radius: 10px;
        margin-bottom: 10vh;
        margin-top: 5vh;

        //Sökruta
        #planetName {
            width: 250px;
            height: 48px;
            background: rgb(255, 255, 255);
            outline: none;
            border: none;
            border-radius: 10px 0 0 10px;
            text-align: center;
        }

        //Knapp som aktiverar sökrutan
        .planets {
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            height: 50px;
            outline: none;
            border: none;
            flex-shrink: 0;
            border-radius: 0 10px 10px 0;
        }
    }

    //Sektion med information om respektive planet
    .planetBox {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70vw;
        min-width: 350px;
        margin-bottom: 10vh;
        margin-top: 5vh;
        padding: 0;
        font-size: x-large;
        background-color: rgba(255, 255, 255, 0.158);
        text-shadow: 0px 0px 3px black;
        
        //Knapp för att kunna dölja planetBox
        #closeBtn {
            outline: none;
            background-color: #ffffff00;
            border: none;
            color: rgb(255, 255, 255);
            padding: 10px;
        }
        //Planetnamn som söks fram
        #name {
            color: orange;
            text-shadow: 0px 0px 3px black;
        }
        //Resten av datan som kommer in från API.
        .info {
            display: flex;
            flex-direction: column;

            #facts,
            .numbers {
                color: rgb(255, 255, 255);
                min-height: 20vh;
                min-width: 330px;
                padding: 10px;
                margin-top: 5px;
                margin-bottom: 5px;
                background-color: rgba(255, 255, 255, 0.158);
                backdrop-filter: blur(10px);
                text-align: left;
            }
        }
    }

    // Media Queries
    @media screen and (max-width: 780px) {
        main {

            #solSystemet {
                font-size: 32px;
            }

            #solaris {
                font-size: 20px;
                margin: 0;
            }

            
            
            
            

            
        }
    }

    @media screen and (max-width: 500px) {
        main {
            nav {
                #planetName {
                    width: 200px;
                    height: 48px;
                }

                .planets {
                    width: 75px;
                }
            }

            

            .info #facts,
            .info .numbers {
                font-size: smaller;
            }
        }
    }
}