body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgb(8, 0, 44);
  color: rgb(255, 255, 255);
}

header,
footer {
  flex-shrink: 0;
  padding: 10px;
  text-align: center;
  background-color: rgba(9, 0, 105, 0.8);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  padding: 20px;
  gap: 10px;
  overflow: hidden;
}
main span {
  display: inline-block;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
main .sun {
  height: 60px;
  width: 60px;
  background: yellow;
  box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 40px yellow, 0 0 60px yellow;
}
main .planet {
  background: transparent;
  border: 4px solid rgba(255, 255, 255, 0.5);
  animation: animate 10s linear infinite;
  z-index: 9999;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
main .planet1 {
  width: 110px;
  height: 110px;
}
main .planet2 {
  width: 160px;
  height: 160px;
}
main .planet3 {
  width: 220px;
  height: 220px;
}
main .planet4 {
  width: 270px;
  height: 270px;
}
main .planet5 {
  width: 340px;
  height: 340px;
}
main .planet6 {
  width: 430px;
  height: 430px;
}
main .planet7 {
  width: 500px;
  height: 500px;
}
main .planet8 {
  width: 570px;
  height: 570px;
}
main span::before, main span::after {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 50%;
}
main .planet1::before {
  width: 20px;
  height: 20px;
  bottom: 6px;
  left: 2px;
  background-image: linear-gradient(to right, gray, lightgray, gray);
}
main .planet2::before {
  width: 25px;
  height: 25px;
  top: 10px;
  left: 10px;
  background-image: radial-gradient(rgb(255, 0, 0), rgb(255, 102, 0));
}
main .planet3::before {
  width: 30px;
  height: 30px;
  top: 100px;
  right: -15px;
  background-image: radial-gradient(green, blue);
}
main .planet4::before {
  width: 30px;
  height: 30px;
  top: 22px;
  left: 210px;
  background: red;
}
main .planet5::before {
  width: 40px;
  height: 40px;
  bottom: -18px;
  left: 170px;
  background: orange;
}
main .planet6::before {
  width: 50px;
  height: 50px;
  top: 100px;
  left: -7px;
  background: orange;
}
main .planet6::after {
  width: 80px;
  height: 20px;
  top: 115px;
  left: -21px;
  background: orange;
}
main .planet7::before {
  width: 37px;
  height: 37px;
  bottom: 80px;
  right: 30px;
  background: blue;
}
main .planet8::before {
  width: 41px;
  height: 41px;
  top: 5px;
  right: 140px;
  background: magenta;
}
main nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}
main nav .planets {
  background-color: orange;
  color: rgb(0, 0, 0);
  height: 50px;
  outline: none;
  border: none;
  flex-shrink: 0;
  border: none;
  outline: none;
}
main .planetBox {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.404);
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.281);
  color: rgb(43, 0, 65);
  border: white solid;
}
main .planetBox .info {
  display: flex;
  flex-flow: column wrap-reverse;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  border: white solid;
}
main .planetBox .info .planetHead {
  border: white solid;
}
main .planetBox .info #facts,
main .planetBox .info .numbers {
  flex: 1 1 300px;
  min-height: 200px;
  border: 1px solid white;
  padding: 10px;
  box-sizing: border-box;
  border: white solid;
}

@media (max-width: 768px) {
  main .planetBox .info {
    flex-direction: column;
    align-items: stretch;
  }
  main .planetBox .info #facts,
  main .planetBox .info .numbers {
    width: 100%;
  }
}
@media (max-width: 500px) {
  main nav {
    flex-direction: column;
    align-items: center;
  }
  main nav .planets {
    height: 40px;
    width: 40px;
  }
  main .planetBox {
    width: 100%;
  }
  main .info #facts,
  main .info .numbers {
    font-size: smaller;
  }
}/*# sourceMappingURL=style.css.map */