body,
html {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(7, 0, 36);
  color: white;
  z-index: -1;
  font-family: monospace;
  overflow-x: hidden;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 0px;
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box;
}
main #solSystemet {
  font-size: 72px;
  text-shadow: 0px 0px 3px black;
}
main #solaris {
  font-size: 56px;
  margin: 0;
  text-shadow: 0px 0px 3px black;
  color: rgb(255, 255, 70);
}
main span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: visible;
  z-index: -1;
}
main .sun {
  height: 60px;
  width: 60px;
  background: yellow;
  box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 40px yellow, 0 0 60px yellow;
}
main .planet {
  background: transparent;
  border: 3px solid rgba(255, 255, 255, 0.5);
  animation: animate 120s linear infinite;
  z-index: -1;
  border-radius: 50%;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
main .planet1 {
  width: 110px;
  height: 110px;
}
main .planet2 {
  width: 160px;
  height: 160px;
}
main .planet3 {
  width: 220px;
  height: 220px;
}
main .planet4 {
  width: 270px;
  height: 270px;
}
main .planet5 {
  width: 340px;
  height: 340px;
}
main .planet6 {
  width: 430px;
  height: 430px;
}
main .planet7 {
  width: 500px;
  height: 500px;
}
main .planet8 {
  width: 570px;
  height: 570px;
}
main span::before,
main span::after {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 50%;
}
main .planet1::before {
  width: 20px;
  height: 20px;
  bottom: 6px;
  left: 2px;
  background-image: linear-gradient(to right, gray, lightgray, gray);
}
main .planet2::before {
  width: 25px;
  height: 25px;
  top: 10px;
  left: 10px;
  background-image: radial-gradient(rgb(255, 0, 0), rgb(255, 102, 0));
}
main .planet3::before {
  width: 30px;
  height: 30px;
  top: 100px;
  right: -15px;
  background-image: radial-gradient(green, blue);
}
main .planet4::before {
  width: 30px;
  height: 30px;
  top: 22px;
  left: 210px;
  background: red;
}
main .planet5::before {
  width: 40px;
  height: 40px;
  bottom: -18px;
  left: 170px;
  background: orange;
}
main .planet6::before {
  width: 50px;
  height: 50px;
  top: 100px;
  left: -7px;
  background: orange;
}
main .planet6::after {
  width: 80px;
  height: 20px;
  top: 115px;
  left: -21px;
  background: orange;
}
main .planet7::before {
  width: 37px;
  height: 37px;
  bottom: 80px;
  right: 30px;
  background: blue;
}
main .planet8::before {
  width: 41px;
  height: 41px;
  top: 5px;
  right: 140px;
  background: magenta;
}
main nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: rgb(0, 0, 0) 0 0 5px;
  border-radius: 10px;
  margin-bottom: 10vh;
  margin-top: 5vh;
}
main nav #planetName {
  width: 250px;
  height: 48px;
  background: rgb(255, 255, 255);
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  text-align: center;
}
main nav .planets {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  height: 50px;
  outline: none;
  border: none;
  flex-shrink: 0;
  border-radius: 0 10px 10px 0;
}
main .planetBox {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin-bottom: 10vh;
  margin-top: 5vh;
  padding: 0;
  color: rgb(43, 0, 65);
  font-size: x-large;
}
main .planetBox #closeBtn {
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: rgb(255, 255, 255);
}
main .planetBox #name {
  color: orange;
  text-shadow: 0px 0px 3px black;
}
main .planetBox .info {
  display: flex;
  flex-direction: column;
}
main .planetBox .info #facts,
main .planetBox .info .numbers {
  min-height: 20vh;
  width: 50vw;
  min-width: 350px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.438);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  text-align: left;
}
@media (max-width: 780px) {
  main main #solSystemet {
    font-size: 32px;
  }
  main main #solaris {
    font-size: 20px;
    margin: 0;
  }
  main main .planetBox .info {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  main main .planetBox .info #facts,
  main main .planetBox .info .numbers {
    width: 100vw;
  }
}
@media (max-width: 500px) {
  main main nav #planetName {
    width: 200px;
    height: 48px;
  }
  main main nav .planets {
    width: 75px;
  }
  main main .planetBox {
    width: 100%;
  }
  main main .info #facts,
  main main .info .numbers {
    font-size: smaller;
  }
}/*# sourceMappingURL=style.css.map */